



/* =================================   Customers   Customers   Customers   Customers   ================================= */

/* /////////////////////////////////   Customers   Customers   Customers   Customers   \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* /////////////////////////////////   Customers   Customers   Customers   Customers   \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* /////////////////////////////////   Customers   Customers   Customers   Customers   \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* /////////////////////////////////   Customers   Customers   Customers   Customers   \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* /////////////////////////////////   Customers   Customers   Customers   Customers   \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* /////////////////////////////////   Customers   Customers   Customers   Customers   \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* /////////////////////////////////   Customers   Customers   Customers   Customers   \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* /////////////////////////////////   Customers   Customers   Customers   Customers   \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

/* =================================   Customers   Customers   Customers   Customers   ================================= */



.customers-main{
    margin-top: 170px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    img{
        width: 50%;
    }
}
.customers-main h2{
    font-family: "Poppins", serif;
    font-weight: bold;
    font-size: 32px;
    line-height: 48px;
    color: rgba(34, 52, 61, 1);
}
.customers-main h3{
    font-family: "Poppins", serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: rgba(34, 52, 61, 1);
}
.customers-main h4{
    font-family: "Poppins", serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: rgba(34, 52, 61, 1);
}
.customers-main p{
    font-family: "Poppins", serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: rgba(34, 52, 61, 1);
    max-width: 70%;
    margin: 20px 0 30px;
}




/* -------------------------------------------------------------------------------------------------------------------- */






.customers-main-article{
    margin-top: 170px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .c-image{
        width: 50%;
    }
}
.c-right{
    max-width: 40%;
}

.customers-main-article .c-article-h3{
    font-family: "Poppins", serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: rgba(34, 52, 61, 1);
}

.customers-main-article .c-article-h2{
    font-family: "Poppins", serif;
    font-weight: bold;
    font-size: 32px;
    line-height: 48px;
    color: rgba(34, 52, 61, 1);
}

.customers-main-article .c-article-p{
    font-family: "Poppins", serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: rgba(34, 52, 61, 1);
    margin: 20px 0 30px;
}

.c-card{
    display: flex;
    gap: 30px;
    align-items: center;
    margin: 30px 0;
    max-width: 87%;

    p{
        font-family: "Poppins", serif;
        font-size: 16px;
        font-weight: normal;
        line-height: 26px;
        color: rgba(34, 52, 61, 1);
    }
    .c-icon{
        max-width: 10%;
    }
}
.c-image-mobile{
    display: none;
    width: 80%;
}




/* ========================   Customers Media   Customers Media   Customers Media   ============================== */




@media screen and (max-width:900px) {

.customers-main{
    margin-top: 70px;
}

    .customers-main h2{
        font-size: 30px;
        line-height: 40px;
    }
    .customers-main h3{
        font-size: 14px;
        line-height: 16px;
    }
    .customers-main p{
        font-size: 12px;
        line-height: 15px;
        margin: 10px 0;
    }
    .customers-main h4{
        font-size: 12px;
        line-height: 15px;
    }






/* -------------------------------------------------------------------------------------------------------------------- */



.customers-main-article{
    margin-top: 70px;
}
.customers-main-article .c-article-h2{
    font-size: 30px;
    line-height: 40px;
}
.customers-main-article .c-article-h3{
    font-size: 14px;
    line-height: 16px;
}
.customers-main-article .c-article-p{
    font-size: 12px;
    line-height: 15px;
    margin: 10px 0;
}

.c-card{
    margin: 15px 0;
    p{

        font-size: 12px;
        line-height: 15px;

    }
}

}



/* ========================   Customers Media 728px   Customers Media 728px   Customers Media 728px   ============================== */




@media screen and (max-width:728px) {
    .customers-main h2{
        font-size: 20px;
        line-height: 30px;
    }
    .customers-main h3{
        font-size: 12px;
        line-height: 14px;
    }
    .customers-main p{
        font-size: 10px;
        line-height: 12px;
        margin: 5px 0;
    }
    .customers-main h4{
        font-size: 12px;
        line-height: 15px;
    }





/* -------------------------------------------------------------------------------------------------------------------- */


.customers-main-article .c-article-h2{
    font-size: 20px;
    line-height: 30px;
}
.customers-main-article .c-article-h3{
    font-size: 12px;
    line-height: 14px;
}
.customers-main-article .c-article-p{
    font-size: 10px;
    line-height: 12px;
    margin: 5px 0;
}

.c-card{
    gap: 10px;
    margin: 10px 0;

    p{

        font-size: 10px;
        line-height: 12px;

    }
}

}



/* ========================   Customers Media 600px   Customers Media 600px   Customers Media 600px   ============================== */



@media screen and (max-width:600px) {

    .customers-main{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .customers-main h2{
        text-align: center;
        font-size: 30px;
        line-height: 40px;
    }
    .customers-main p{
        font-size: 12px;
        line-height: 16px;
        text-align: center;
        margin: 5px auto;
        max-width: 90%;
    }
    .customers-main h3{
        text-align: center;
        font-size: 15px;
        line-height: 18px;
    }
    .customers-main h4{
        text-align: center;
        font-size: 14px;
        line-height: 20px;
    }
    .customers-main img{
        width: 80%;
    }



/* -------------------------------------------------------------------------------------------------------------------- */

.customers-main-article{
    flex-direction: column;
        align-items: center;
        gap: 20px;
}
.customers-main-article .c-article-h2{
    text-align: center;
        font-size: 30px;
        line-height: 40px;
        
}
.customers-main-article .c-article-h3{
    text-align: center;
        font-size: 15px;
        line-height: 18px;
}
.customers-main-article .c-article-p{
    font-size: 12px;
        line-height: 16px;
        text-align: center;
        margin: 5px auto;
        max-width: 90%;
}

.c-card{
    gap: 10px;
    margin: 10px auto 0;

    p{

        font-size: 12px;
        line-height: 16px;

    }
}
.c-image{
    display: none;
}
.c-image-mobile{
    display: inline-block;
}
.c-right{
    max-width: 100%;
}

}


/* ========================   Customers Media 420px   Customers Media 420px   Customers Media 420px   ============================== */




@media screen and (max-width:420px) {
   

    .customers-main h2{
        font-size: 20px;
        line-height: 30px;
        text-align: center;
    }
    .customers-main p{
        font-size: 10px;
        line-height: 15px;
        max-width: 95%;
    }
    .customers-main h3{
        text-align: center;
        font-size: 12px;
        line-height: 15px;
    }
    .customers-main h4{
        text-align: center;
        font-size: 12px;
        line-height: 20px;
    }


/* -------------------------------------------------------------------------------------------------------------------- */

.customers-main-article .c-article-h2{
    font-size: 20px;
        line-height: 30px;
        text-align: center;
        
}
.customers-main-article .c-article-h3{
    text-align: center;
        font-size: 12px;
        line-height: 15px;
}
.customers-main-article .c-article-p{
    font-size: 10px;
        line-height: 15px;
        max-width: 95%;
}

.c-card{
    gap: 10px;
    margin: 5px auto 0;

    p{

        font-size: 10px;
        line-height: 15px;

    }
}

}